/* 
   Filename: styles.css
   Author: Samuel Ardis
   Date: 11/19/2021
   HTML5 and CSS3 Illustrated, Final Draft
 */

/* Ideas for Final: 
- 
*/

 /* reset style */
 a, article, body, div, figcaption, figure, footer, header, h1, 
 h2, h3, img, li, nav, p, section, ol, ul, fieldset, form, legend, 
 input, label, textarea, option, select, dl, dt, dd, table, thead, 
 tbody, th, td, span, video, audio {
    border: 0;
    padding: 0;
    margin: 0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
a {
  text-decoration: none;
}

/*lightmode */
:root {
  --clr-background: #F8F8FF;
  --clr-font: #000000;
  --clr-primary: #778DA9;
  --clr-secondary: #778DA9;
}

/* darkmode */
.dark-mode {
  --clr-background: #000000;
  --clr-font: #F8F8FF;
  --clr-primary: #778DA9;
  --clr-secondary: #778DA9;
}

/* body and page container */
.container {
  background-color: var(--clr-background);
  color: var(--clr-font);
  text-align: center;
  margin: 0 auto;
  position: relative;
}

/* headings */
header nav{
  background-color: var(--clr-primary);
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-around;
}
header nav div {
  color: var(--clr-font);
  margin: 0 auto 0.8em;
}
header nav div.nav-links{
  width: 80%;
}
header nav .logo-div img.logo {
  width: 100px;
  filter: brightness(1%);
  padding-top: 15px;
  padding-left: 30px;
}
header nav a button {
  background-color: var(--clr-primary);
  color: var(--clr-font);
  font-weight: bold;
  padding: 5px;
  margin-top: 50px;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  transition: 0.3s;
}
header nav a button:hover {
  border-bottom: 5px solid var(--clr-background);
  color: var(--clr-font);
}
.cart {
  position: relative;
  width: 50px;
}
.cart .cart-icon {
  margin: 0;
  padding: 0;
}
.cart span{
  position: absolute;
  top: 0;
  padding: 0 5px;
  margin-left: -2px;
  font-size: .7em;
}
@media(max-width: 800px) {
  header nav{
    flex-direction: column;
  }
  header nav .logo-div img.logo {
    display: flex;
    margin: 10px auto;
    padding: 0;
  }
  header nav a button, .cart {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 0;
    background-color: var(--clr-background);
    border-radius: 5px;
  }
  header nav a button:hover {
    border: none;
  }
  header nav a button:active {
    transform: scale(.97);
  }
}

/* container that holds the switch */
nav .wrapper-color-switch {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 15px 30px 15px 0px;
}
/* label for switch that is interactive */
nav .color-switch {
  width: 4em;
  height: 2em;
  border-radius: 10em;
  background: var(--clr-background);
  border: 2px solid var(--clr-font);
  position: absolute;
  cursor: pointer;
}
/* circle toggle that animates backward and forward */
nav .color-switch-toggle {
  width: 1.6em;
  height: 1.6em;
  background: var(--clr-font);
  position: absolute;
  border-radius: 10em;
  top: 0.2em;
  left: 0.2em;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
/* text label that indicates switch state
light by default */
nav .color-switch::before {
  font-size: 1em;
  content: "Light";
  position: absolute;
  display: inline-block;
  right: 4.9em;
  bottom: .3em;
}
/* animate circle toggle if switch is on */
nav #input-color-switch:checked ~ label .color-switch-toggle {
  transform: translatex(2em);
}
/* change text of before if switch is on */
nav #input-color-switch:checked ~ .color-switch::before {
  content: "Dark"
}
/* hide input */
nav #input-color-switch {
  display: none;
}
@media(max-width: 800px) {
  nav .wrapper-color-switch {
    margin: 30px auto 40px auto;
    justify-content: center;
  }
}

/* ion icons */
ion-icon {
  font-size: 30px;
  margin: 2px auto;
  margin-bottom: 3px;
}
.contactIcon {
  font-size: 1em;
}
.socialIcon {
  font-size: 2.75em;
}
.teamIcon {
  font-size: 7em;
}
.cart-icon {
  font-size: 1.1em;
}
.footer-icon {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* main content */
article {
  color: var(--clr-font);
  background-color: var(--clr-background);
  text-align: left;
  width: 65%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 3em 1em 1em 1em;
}
section {
  color: var(--clr-font);
  width: 65%;
  margin: 0 auto;
  text-align: left;
}
section h2 {
  margin-bottom: 10px;
  margin-top: 50px;
  text-align: center;
}
article h2 {
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}
article h3, section h3 {
  margin-bottom: 3px;
}
article p {
  width: 90%;
  margin: 0 auto;
}
article p, section p {
  margin-bottom: 30px;
}
section .about_p {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
section .section-0 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}
section .section-0 div{
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: 15px;
  width: 180px;
  color: var(--clr-font);
  border: none;
  background-color: var(--clr-primary);
  border-radius: 20px;;
  text-align: center;
}
section .product-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
section .product-items .product-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 20px 20px;
  color: var(--clr-font);
  border: none;
  background-color: var(--clr-primary);
  border-radius: 10%;
  text-align: center;
  position: relative;
}
section .product-items .product-item h3{
  font-size: 1.5em;
}
section .product-items .product-item p{
  font-size: 1.3em;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2em 0 2em 0;
}
ul li {
  list-style-type: none;
  text-decoration: underline;
  font-size: 1.2em;
  padding: .5em;
  border-radius: .3em;
}
ul li a {
  color: var(--clr-primary);
  transition: 0.5s;
}
ul li a:hover {
  color: var(--clr-font);
}
span {
  margin-left: 5px;
}

/* Modal styles */
.description-modal {
  color: var(--clr-primary);
  font-size: 1em;
  background-color: var(--clr-font);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 55%;
  padding: 3px 0 3px 0;
  margin: 20px auto;
  transition: 0.3s;
}
.description-modal:hover {
  background-color: var(--clr-background);
}
.description-modal:active {
  transform: scale(0.9);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal.active {
  display: block;
}
/* Modal Content/Box */
.modal-content {
  background-color: var(--clr-background);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid var(--clr-primary);
  border-radius: 10px;
  width: 30%;
}
/* The Close Button */
.close {
  color: var(--clr-font);
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: var(--clr-primary);
  text-decoration: none;
  cursor: pointer;
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
#overlay.active {
  display: block;
}

/* main content media queries */
@media(max-width: 1300px) {
  section .product-items .product-item {
    font-size: .9em;
    margin: 30px auto;
  }
}
@media(max-width: 1050px) {
  section {
    width: 90%;
  }
  .modal-content {
    margin: 15% auto;
    text-align: left;
    width: 75%;
  }
}

@media(max-width: 800px) {
  section, article {
    width: 90%;
  }
  section .product-items{
    margin: 0 auto;
    align-items: center;
  }
  section .product-items .product-item {
    width: 200px;
  }
}

/* product styles */
.product-item-button {
  font-size: 2em;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: none;
  transform: translateZ(0);
  border-radius: 50%;
  background-color: var(--clr-font);
  color: var(--clr-primary);
  cursor: pointer;
  position: absolute;
  top: -8%;
  right: -8%;
}
.product-item-button:hover {
  transform: scale(1.035);
  transition: .5s;
  transition-timing-function: ease-in;
}
.responsive-iframe {
  position: relative;
  overflow: hidden;
  width: 50%;
  padding-top: 56.25%;
  border: 10px solid var(--clr-primary);
  border-radius: 10px;
  margin-top: 20px;
}
@media(max-width: 1100px) {
  .responsive-iframe {
    width: 70%;
  }
}
@media(max-width: 800px) {
  .responsive-iframe {
    width: 88%;
    height: 150px;
  }
  .container .map-title {
    margin-top: 30px;
  }
}

/* Calculate Page Styles */
.calc-section {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  margin: 0 auto;
}
.bmi-calc-form-section {
  width: 42%;
  margin: 50px auto 0 auto;
}
.table-section-bmi {
  width: 42%;
  margin: 50px auto 0 auto;
}
.video-section-bmi {
  width: 99%;
  margin-top: 20px;
}
#calc-bmi-intro {
  margin: 0 auto;
  margin-bottom: 20px;
}
.bmi-calc-form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 15px;
  font-size: 1em;
  background-color: var(--clr-primary);
  color: var(--clr-font);
}  
.bmi-calc-form h2 {
  width: 100%;
}
.bmi-calc-form fieldset {
  width: 45%;
  margin: 0 auto;
}
.bmi-calc-form .results-bmi {
  width: 45%;
  margin: 0 auto;
}
.bmi-calc-form fieldset input {
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 180px;
  height: 25px;
  outline: none;
  border-radius: 5px;
  text-align: center;
}
.bmi-btn {
  background-color: var(--clr-background);
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: bold;
  width: 190px;
  padding: 5px;
  color: var(--clr-font);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}
.bmi-calc-form fieldset .bmi-btn:hover {
  color: var(--clr-background);
  background-color: var(--clr-font);
}
.bmi-calc-form #bmi-health {
  background-color: var(--clr-background);
  color: var(--clr-font);
  border-radius: 5px;
  width: 85%;
  margin: 0 auto 20px auto;
  padding: 5px;
  height: 55px;
  font-weight: bold;
  text-align: left;
}
.exercise-form-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.exercise-form-div .video{
  width: 500px;
  height: auto;
  margin: 20px 20px;
  background-color: var(--clr-primary);
  padding: 0 15px 15px 15px;
  border-radius: 10px;
}
.exercise-form-div .video h2{
  margin: 10px auto;
}
.exercise-form-div .video video {
  width: 100%;
  height: auto;
}
@media(max-width: 1300px) {
  .exercise-form-div .video{
    width: 300px;
  }
}
@media(max-width: 700px) {
  .calc-section {
    width: 90%;
    flex-direction: column;
  }
  .bmi-calc-form-section {
    width: 100%;
  }
  .bmi-calc-form {
    flex-direction: column;
  }
  .table-section-bmi {
    width: 100%;
    margin-bottom: 20px;
  }
  #tablestart2 {
    margin-left: 0;
  }
  .bmi-calc-form {
    width: 85%;
    padding: 5%;
    margin: 0 auto;
  }
  .exercise-form-div {
    width: 100%;
  }
  .exercise-form-div .video{
    width: 95%;
  }
  .bmi-calc-form #bmi-health {
    width: 65%;
    height: 90px;
  }
}

/* Recipe Styles */
.recipe-section {
  min-height: 100vh;
  width: 80%;
}
.search-container {
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}
.search-form-recipe {
  width: 90%;
  margin: 50px auto 20px auto;
  background-color: var(--clr-primary);
}
.search-container.initial .search-form-recipe input.search-input {
  width: 60%;
  margin: 0 auto;
  margin-right: 20px;
  height: 0px;
  border-radius: 4px;
  outline: none;
  background-color: var(--clr-background);
  font-size: 1rem;
}
.search-container .search-form-recipe input.search-input {
  width: 55%;
  margin: 0 auto;
  margin-right: 20px;
  border-radius: 4px;
  outline: none;
  background-color: var(--clr-background);
  font-size: 1rem;
}
.search-form-recipe button {
  width: 12%;
  height: 42px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--clr-background);
  color: var(--clr-font);
}
.search-result {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 65px;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}
.item {
  margin: 0 auto;
  width: 95%;
  height: 450px;
  border-radius: 8px;
  background-color: var(--clr-primary);
  padding: 15px;
  position: relative;
}
.item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.search-result .title {
  width: 95%;
  color: var(--clr-font);
  height: 18px;
  overflow: hidden;
  padding: 5px;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  bottom: 48%;
}
.view-btn {
  position: absolute;
  top: 32%;
  left: 13%;
  text-decoration: none;
  text-align: center;
  width: 75%;
  padding: 5px 0;
  background-color: var(--clr-background);
  opacity: 90%;
  color: var(--clr-font);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 4px;
  transition: 0.7s;
}
.view-btn:hover {
  background-color: var(--clr-font);
  color: var(--clr-background);
  transform: scale(1.1);
}
.recipe-data-div {
  height: 190px;
  width: 88%;
  margin: 15px auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  margin-left: 5px;
  background-color: var(--clr-background);
  border-radius: 5px;
  position: absolute;
  bottom: 0;
}
.item-data {
  color: var(--clr-font);
  display: flex;
  text-align: left;
  margin-top: 10px;
  font-size: .9em;
  padding: 5px;
  letter-spacing: 0.05rem;
  line-height: 2em;
}
.item-data-calories {
  position: absolute;
  top: 6%;
  left: 65%;
  font-weight: bold;
  background-color: #000000;
  opacity: 70%;
  padding: 8px;
  border-radius: 5px;
  color: #F8F8FF;
}
.nutrient-list {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}
.nutrient-list li {
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  width: 38%;
  background-color: var(--clr-font);
  color: var(--clr-background);
  margin: 5px;
}
.search-container.initial .search-form-recipe {
  max-width: 800px;
}
.search-container.initial .search-form-recipe input {
  padding: 20px;
  font-size: 3rem;
}

@media (max-width: 800px) {
  .item {
    width: 87%;
    margin: 10px auto;
  }
  .search-result {
    grid-gap: 10px;
  }
  .search-container.initial .search-form-recipe, .search-container .search-form-recipe  {
    max-width: 100%;
  }
  .search-container.initial .search-form-recipe input, .search-container .search-form-recipe input {
    padding: 15px;
    font-size: 1rem;
  }
 .search-container .search-form-recipe input {
   height: 4px;
  }
  .search-container.initial .search-form-recipe button, .search-container .search-form-recipe button {
    width: 25%;
    height: 30px;
  }
  .recipe-data-div {
    width: 82%;
  }
  .item-data-calories {
    top: 5%;
    left: 58%;
  }
  .nutrient-list li {
    width: 90%;
  }
}
@media (max-width: 520px) {
  .item-data-calories {
    top: 5%;
    left: 60%;
  }
  input.search-input {
    margin: 0 auto !important;
    width: 80% !important;
   }
  .search-container.initial .search-form-recipe button, .search-container .search-form-recipe button {
    width: 90%;
    height: 30px;
    margin-top: 15px;
  }
}

/* Cart styles */
.cart-container {
  margin: 50px auto;
  border: none;
  border-radius: 10px;
  padding: 20px;
  border: 8px solid var(--clr-primary);
}
.cart-section {
  width: 50%;
  min-height: 50vh;
}
.cart-header {
  font-weight: bold;
  font-size: 1.25em;
}
.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}
.cart-row {
  display: flex;
}
.cart-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.cart-item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px;
}
.cart-name {
  width: 58%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px;
}
.cart-item span {
  margin-left: 10%;
}
.cart-price {
  width: 20%;
  padding: 10px 0;
  font-size: 1.2em;
}
.cart-quantity {
  padding: 10px 0;
  width: 20%;
}
.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  padding: 10px 0;
}
.basketTotalTitle {
  width: 10%;
}
.basketTotal {
  width: 10%;
}
.btn-danger {
  color: var(--clr-font);
  font-size: 2em;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  transition: 0.3s;
}
.btn-danger:hover {
  color: #CC4C4C;
}
.cart-row:last-child {
  border-bottom: 1px solid black;
}
.cart-row:last-child .cart-column {
  border: none;
}
.btn-purchase {
  display: block;
  margin: 40px auto 20px auto;
  font-size: 1.3em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 8px;
  background-color: var(--clr-primary);
  color: var(--clr-background);
  transition: 0.4s;
}
.btn-purchase:hover {
  background-color: var(--clr-font);
}
@media(max-width: 1400px) {
  .basketTotalContainer {
    width: 70%;
  }
  .basketTotalTitle {
    width: 50%;
  }
  .basketTotal {
    width: 10%;
  }
  }
@media(max-width: 800px) {
  .cart-section {
    width: 90%;
  }
  .cart-header {
    font-size: .7em;
  }
  .cart-item span {
    margin-left: 10%;
  }
  .cart-price {
    width: 25%;
  }
  .cart-quantity {
    width: 10%;
  }
  .basketTotalContainer {
    width: 60%;
  }
  .basketTotalTitle {
    width: 50%;
  }
  .basketTotal {
    width: 10%;
  }
}

/* form */
form {
  color: var(--clr-font);
  background-color: var(--clr-primary);
  width: 80%;
  margin: 0 auto;
  padding: 3%;
  margin-bottom: 5%;
  border-radius: .4em;
}
@media(max-width: 800px) {
  form {
    width: 90%;
    padding: 5%;
  }
}

/* Contact section */
/* fieldset styles */
fieldset {
  margin-bottom: 1em;
}
fieldset fieldset {
  margin-top: 1em;
  padding: 0.8em;
  border: 1px solid var(--clr-primary);
}
.contactInfo {
  display: flex;
  flex-direction: column;
}
.contactInfo .contactInfoFlex {
  display: flex;
  flex-direction: column;
}
.contactInfo .contactInfoFlex div {
  display: flex;
  margin-bottom: .5em;
}
legend {
  font-size: 1.25em;
  font-weight: bold;
}
.submitbutton {
  padding-top: 0.5em;
  text-align: center;
}

/* field styles */
.contactInfo input, textarea {
  border: 1px solid var(--clr-primary);
  padding: 0.2em;
  font-size: 1em;
  outline: none;
}
textarea {
  width: 99%;
}
#nameinput, #addressinput, #emailinput, #cityinput, #phoneinput {
  width: 20em;
}
select {
  margin-bottom: 0.6em;
  font-size: 1em;
}
#submit {
  border: none;
  padding: 0.4em 0.6em;
  background-color: var(--clr-background);
  color: var(--clr-font);
  font-size: 1.25em;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* label styles */
label {
  font-size: 1em;
}
.contactInfo label, .messageInfo legend {
  display: block;
  margin: .5em 0;
}
.contactInfo .contactInfoFlex div label{
  display: inline-block;
  width: 50px;
}
.purposeInfo label input {
  margin-right: .5em;
  width: 20px;
}
.purposeInfo label input:hover {
  cursor: pointer;
}
.purposeInfo {
  width: 50%;
}
@media(max-width: 1200px) {
  .contactInfo .contactInfoFlex div {
    display: flex;
    flex-direction: column;
  }
  #nameinput, #addressinput, #emailinput, #cityinput, #phoneinput {
    width: 95%;
  }
  textarea {
    width: 95%;
  }
}

/* Section */
section h3{
  padding-bottom: 10px;
  padding-top: 10px;
}

/* table styles */
table {
  width: 85%;
  margin: 0 auto;
  padding: 3%;
  margin-bottom: 3%;
}
.table2 {
  width: 100%;
}
@media(max-width: 800px) {
  .table2 {
    width: 95%;
    margin: 0 auto;
  }
}
th, td {
  border: 2px solid var(--clr-primary);
}
.regimen-table-body td {
  font-weight: 525;
}
th {
  padding: 0.1em 0.3em;
  background-color: var(--clr-primary);
  color: var(--clr-font);
}
td {
  padding: 0.3em;
  text-align: left;
  background-color: var(--clr-background);
}
.table-heading-column {
  background-color: var(--clr-background);
}
@media(max-width: 800px) {
  table {
    width: 95%;
  }
}

/* Login styles */
#form_container {
  width: 70%;
  height: 100%;
  background-color: var(--clr-primary);
  box-shadow: 0 0 50px -20px var(--clr-font);
  border-radius: 10px;
  overflow: hidden;
  margin: 50px auto;
}
#form_header_container {
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary);
}
#form_header {
  background-color: var(--clr-primary);
}
#form_content_container {
  width: 100%;
  height: 90%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
#form_content_inner_container {
  width: 75%;
  height: 100%;
  float: left;
}
input {
  width: 80%;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 20px;
  background-color: var(--clr-background);
  font-weight: 500;
  color: var(--clr-font);
  font-size: 12px;
  border-bottom: 2px solid transparent;
  border-radius: 5px;
}
#button_container {
  width: 82%;
  height: 10%;
  color: var(--clr-font);
  margin: 5px auto 80px auto;
}
#button_container button {
  width: 45%;
  height: 100%;
  float: left;
  padding: 3px;
  background-color: var(--clr-background);
  color: var(--clr-font);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
#button_container button:last-child{
  margin-left: 10%;
}
#button_container button:hover{
  background-color: var(--clr-font);
  color: var(--clr-background);
}
@media(max-width: 800px) {
  #form_container {
    width: 95%;
  }
}

/* footer section */
footer {
  background-color: var(--clr-primary);
  color: var(--clr-font);
  padding-bottom: 1%;;
  border-top: none;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 3em;
  display: flex;
}
#edamam-badge {
  margin-top: 20px;
}
.recipe-footer{
  width: 100%;
}
.recipe-footer-separator {
  display: flex;
  width: 45%;
}
.recipe-footer-separator2 {
  display: flex;
  width: 45%;
}
.resultFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer p {
  margin: 25px auto;
  text-align: center;
}
@media(max-width: 800px) {
  .recipe-footer {
    flex-direction: column;
  }
  .recipe-footer-separator {
    display: inline-block;
    width: 100%;
  }
  .recipe-footer-separator2 {
    display: inline-block;
    width: 100%;
  }
  #edamam-badge {
    margin-bottom: 20px;
  }
}
@media(max-width: 550px) {
  footer {
    flex-direction: column;
  }
  .recipe-footer {
    flex-direction: column;
  }
}

/*About page*/
.testimonials p {
  border: none;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: var(--clr-primary);
  color: var(--clr-font);
}